.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 2400px;
  height: 900px;
}

.profileView {
  position: absolute;
  left: 5%;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.editProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profilePicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profileDetails,
.editDetails {
  width: 100%;
  text-align: left;
}

.profileDetails h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.profileDetails p {
  margin: 5px 0;
}

.editDetails label {
  margin-top: 10px;
}

.editDetails input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Search Bar Styles */
.searchBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.searchBar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
}

.searchBar button {
  position: relative;
  top: 1%;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.searchBar button:hover {
  background-color: #45a049;
}

.searchResults ul {
  list-style-type: none; /* Removes the default list marker */
  padding: 0; /* Removes default padding */
}

.profileItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.guestProfilePictureContainer {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 5%;
  margin-bottom: 10px;
}

.guestProfilePicture {
  max-width: 90%;
  max-height: 90%;
opacity: 40%;
  object-fit: cover;
}

.profileName {
  font-weight: bold;
  text-align: center;
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .profileContainer {
    padding: 15px;
  }

  .profileView,
  .editProfile {
    width: 90%;
  }

  .profileDetails h2 {
    font-size: 1.3em;
  }

  .profileDetails p {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .profileContainer {
    padding: 10px;
  }

  .profileView,
  .editProfile {
    width: 100%;
  }

  .profilePicture {
    width: 80px;
    height: 80px;
  }

  .profileDetails h2 {
    font-size: 1.1em;
  }

  .profileDetails p {
    font-size: 0.8em;
  }
}
