@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

/* Global settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: url("../../images/green-abstract-background.jpg"); 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white; /* Teksta krāsa balta, lai būtu kontrasts uz zaļā fona */
}

/* Hero Wrapper */
.heroWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 100px;
  z-index: 1;
}

/* Hero Section */
.heroSection {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 150px 20px 20px;
  max-width: 1200px;
  width: 100%;
  margin: 4% auto;
  color: #fff;
}

/* Hero Text */
.hero {
  max-width: 50%;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  backdrop-filter: blur(16px) saturate(120%);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  backdrop-filter: blur(16px) saturate(120%);
  padding: 10px;
}

/* Image Slider */
.imgSlider {
  position: relative;
  width: 400px;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* Buttons */
.buttons {
  margin-top: 40px;
}

.buttons a {
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: 0.2s ease;
  display: inline-block;
}

.buttons a:not(:last-child) {
  margin-right: 15px;
}

.join {
  background-color: #47b2e4;
}

.buttons .learn {
  border: 1px solid #fff;
  border-radius: 0.375rem;
}

.buttons a:hover {
  background-color: #47b2e4;
}

/* Responsive Styles for Devices under 730px */
@media screen and (max-width: 730px) {
  .heroWrapper {
    flex-direction: column;
    align-items: center;
  }
  .imgSlider {
    width: 100%;
    height: auto;
  }
}

/* Responsive Styles for Tablets under 1023px */
@media screen and (max-width: 1023px) {
  .hero {
    max-width: 100%;
    text-align: center;
  }

  .imgSlider {
    display: block;
  }
}
