@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

* {
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  height: 150px;
}

.links li a {
  display: block;
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(196, 193, 193, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.links li a:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.links.active {
  display: flex;
}

.hamburgerBtn {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Jaunā fona krāsa, kad izvēlne tiek atvērta */
@media (max-width: 768px) {
  .hamburgerBtn {
    display: block;
  }

  .links {
    display: none;
    flex-direction: column;
    background-color: rgba(31, 24, 24, 0.9); /* Tumšāks pelēks fons */
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.212);
    border-radius: 0 8vh 8vh 8vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Tumsāks ēnojums */
    transition: background-color 0.3s ease; /* Pāreja uz fona krāsas maiņu */
  }

  .links.active {
    display: flex;
  }

  .links li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .navbar {
    padding: 0 50px;
  }

  .logo img {
    height: 180px;
  }

  .links {
    gap: 40px;
  }
}
